
.commentList{
    margin-top:20px;
    border-top:1px #666 solid;
    width:320px;
}

.commentItem{
    height:60px;
    width:300px;
    margin:10px;
}


.commentItem img{
    float: left;
    width: 60px;
}
.commentItem .commentContent{float:left;margin-left:10px;height:60px;width:210px}
.commentItem a{height:30px;line-height: 30px;}
.commentItem p{height:30px;line-height: 30px;}

.commentForm textarea{
    width:320px;
    height: 100px;
}
.commentForm button{
    color: #fff;
    background-color: #38f;
    padding: 8px 15px;
    border: none;
    cursor: pointer;
    outline: none;
}